 <header>
        <div class="menu-content">
            <a href="/"><h1 class="logo"> Pare e Lave</h1></a>
            <nav class="header-menu">
                <ul class="list-itens">
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/plano">Planos</a></li>
                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </div>
</header>