
    <header>
        <div class="menu-content">
            <h1 class="logo">Stop and Shower</h1>
            <nav class="header-menu">
                <ul class="list-itens">
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Local</a></li>
                    <li><a href="#">Planos</a></li>
                    <li><a href="#">Contatos</a></li>
                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>