<head>
    <link rel="stylesheet" href="/style/home.css">
</head>
<div class="main-content">
            <h1 class="primary-text">Lave, Brilhe, Repita!!</h1>
            <h2 class="second-text">A excelência em gerenciamento de lava-jato ao seu alcance.</h2>
            <form action="/cadEmpr" method="post">
             <button class="Empresa" type="submit">Empresa</button>
            </form>
            <form action="/cadUser" method="post">
                <button class="Usuario" type="submit">Usuario</button>
            </form>

</div>