<head>
    <link rel="stylesheet" href="style/plano.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
</head>
<body class="fade-in corpo-plano"> 
  <article class="container-pricing">
    <!-- Titulo -->
    <h1>Planos</h1>
    <!-- Subtitulo -->
    <p id="subTitle">Seja bem vindo ao nosso portal <br>  Abaixo encontrasse diversos planos os quais oferencem beneficios incriveis
      Escolha qual plano se adequa mais ao sua empresa </p>
  </article>
  <!-- UL -->
  <ul class="pricing-list">
    <!-- Itens do Plano -->
    <li class="pricing item">
      <strong>Basic</strong>
      <div class="pricing-prices">
        <sub>R$</sub>
        <strong>50</strong>
        <sup>/mês</sup>
      </div>

      <ul class="pricing-list-features">
        <li class="pricing-list-features-item"><i class="fas fa-check"></i><span>Módulo de Agendamento</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Reconhecimento de QR code</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Módulo de Controle de Estoque</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Módulo de Atendimento via WhatsApp</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Módulo de Análise de Dados</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Integração com Pagamentos Online</span></li>
      </ul>
      <a href="../PAGAMENTOPLANO/pagamento.html?valorPlano=300" class="btn btn-start">Iniciar Meu plano</a>
    </li>
    <!-- Itens do Plano -->
    <li class="pricing item profissional">
      <a href="../CADASTRO/empresa.html"></a>
      <strong>Profissional</strong>
      <div class="pricing-prices">
        <sub>R$</sub>
        <strong>150</strong>
        <sup>/mês</sup>
      </div>

      <ul class="pricing-list-features">
        <li class="pricing-list-features-item"><i class="fas fa-check"></i><span>Todos Benefícios do plano anterior</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Sistema de Recomendação</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Acompanhamento em Tempo Real</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Programa de Fidelidade</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Sistema de Feedback pós lavagem</span></li>
      </ul>
      <a href="../PAGAMENTOPLANO/pagamento.html?valorPlano=300" class="btn btn-start">Iniciar Meu plano</a>
    </li>

    <!-- Itens do Plano -->
    <li class="pricing item">
      <strong>ULTIMATE</strong>
      <div class="pricing-prices">
        <sup>R$</sup>
        <strong>300</strong>
        <sub>/mês</sub>
      </div>
      <ul class="pricing-list-features">
        <li class="pricing-list-features-item"><i class="fas fa-check"></i><span>Todos  Benefícios do plano anterior</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Mural com fotos dos automóveis lavados</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Loja no estabelecimento</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Lavagem por Assinatura</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Acompanhamento de status</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Previsão do Tempoa</span></li>
      </ul>
      <a href="../PAGAMENTOPLANO/pagamento.html?valorPlano=300" class="btn btn-start">Iniciar Meu plano</a>
    </li>
  </ul>
<!--AJustar responsividade-->
<div style="margin: 250px 0; display: flex; align-items: center; justify-content: center; width: 100%"></div>
</body>