<head>
    <link rel="stylesheet" href="/style/qrcode.css">
</head>
<main class="main">
        <!--==================== HOME ====================-->
        <section class="qrcode__section section"></section>
        <div style="height: 100vh; margin-top: 30vh;" class="container">
            <h1 class="qrcode__titulo">Leia o QRCode abaixo para fazer seu agendamento:</h1>
            <div class="qrcode__div" id="qrcode">
                
            </div>
        </div>
        <script src="/js/qrcode.min.js"></script>
        <script>
            new QRCode(document.getElementById('qrcode'), 'https://www.google.com/maps/dir/-12.9379348,-38.4955035/Lava+jato+carro+brinho+-+R.+Manoel+Barros+de+Azevedo,+491+-+Machado,+Salvador+-+BA,+40455-010/@-12.9374573,-38.5106836,15z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x716059c417a012f:0x6b2034e203764ce9!2m2!1d-38.5012667!2d-12.9340891?entry=ttu')
        </script>
</main>
